.form{
    margin: 30px;
    padding: 20px;
    border: solid 1px rgb(255, 255, 255);
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(18, 18, 18);
}
.form input{
    padding: 5px;
    display: block;
    margin: 150px;
    width: 80%;
    height: 20px;
    border: solid 1px rgb(255, 255, 255);
}
.form button{
    height: 30px;
    width: 100px;
    margin: 15px;
    background-color: rgb(42, 112, 173);
    border: none;
    color: white;
}