.form{
    margin: 10px;
    border: solid 1px black;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.form input{
    padding: 5px;
    display: block;
    margin: 15px;
    width: 80%;
    height: 20px;
    border: solid 1px rgb(42, 112, 173);
}
.form button{
    height: 30px;
    width: 100px;
    margin: 15px;
    background-color: rgb(42, 112, 173);
    border: none;
    color: white;
}