.nav-items{
        background-color: rgba(20, 20, 20, 0.395);
       
        padding: 5px 0;
        align-items: center;
        display: flex;
        justify-content:space-between;
    
}
.headerLeft,.headerRight{
    display: flex;
    align-items: center;

}
.header__icon {
    width: 60px;
    cursor: pointer;
}
a{
    margin: 0 20px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}